<h4 class="text-center">Register to embrace a new world!</h4>

<form class="form mt-4 me-3 ms-3" [formGroup]="signupForm" (submit)="singup()">
  <div class="form-group mt-3">
    <input
      placeholder="email"
      class="form-control"
      autofocus
      formControlName="email"
      name="email"
    />
    <gfotos-message
      *ngIf="signupForm.get('email')?.errors?.['required'] && signupForm.get('email')?.touched"
      [message]="'Email obrigatório'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched"
      [message]="'Email Incorreto'"
    ></gfotos-message>
  </div>

  <div class="form-group mt-3">
    <input
      placeholder="full name"
      class="form-control"
      formControlName="fullName"
      name="fullName"
    />
    <gfotos-message
      *ngIf="signupForm.get('fullName')?.errors?.['required'] && signupForm.get('fullName')?.touched"
      [message]="'Nome obrigatório'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('fullName')?.errors?.['minlength'] && signupForm.get('fullName')?.touched"
      [message]="'Mínimo 3 caracteres'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('fullName')?.errors?.['maxlength'] && signupForm.get('fullName')?.touched"
      [message]="'Máximo 40 caracteres'"
    ></gfotos-message>
  </div>

  <div class="form-group mt-3">
    <input
      placeholder="user name"
      class="form-control"
      formControlName="userName"
      name="userName"
    />
    <gfotos-message
      *ngIf="signupForm.get('userName')?.errors?.['required'] && signupForm.get('userName')?.touched"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('userName')?.errors?.['minlength'] && signupForm.get('userName')?.touched"
      [message]="'Mínimo 3 caracteres'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('userName')?.errors?.['maxlength'] && signupForm.get('userName')?.touched"
      [message]="'Máximo 30 caracteres'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('userName')?.errors?.['lowerCase'] && signupForm.get('userName')?.touched"
      [message]="'Somente letras minúsculas'"
    ></gfotos-message>
    <gfotos-message
    *ngIf="signupForm.get('userName')?.errors?.['userNameTaken'] && signupForm.get('userName')?.touched"
    [message]="'Usuário já existe'"
  ></gfotos-message>
  <small *ngIf="signupForm.get('userName')?.valid" class="text-success">Usuario válido</small>
  </div>

  <div class="form-group mt-3">
    <input
      type="password"
      placeholder="password"
      class="form-control"
      formControlName="password"
      name="password"
    />
    <gfotos-message
      *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched"
      [message]="'Senha obrigatória'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched"
      [message]="'Mínimo 8 caracteres'"
    ></gfotos-message>
    <gfotos-message
      *ngIf="signupForm.get('password')?.errors?.['maxlength'] && signupForm.get('password')?.touched"
      [message]="'Máximo 14 caracteres'"
    ></gfotos-message>
  </div>

  <button [disabled]="!signupForm.valid || signupForm.pending" class="btn btn-primary btn-block mt-3" type="submit">
    Register
  </button>

  <p>Already a user?<a>Sign In!</a></p>
</form>
