<h4 class="mt-4 text-center">Login</h4>

<form class="form m-4 mt-4" [formGroup]="loginForm" (submit)="login()">
  <div class="form-group">
    <input
      #userNameInput
      formControlName="userName"
      name="userName"
      class="form-control"
      placeholder="user name"
      autofocus
    />
    <gfotos-message
      *ngIf="loginForm.get('userName')?.errors?.['required'] && loginForm.get('userName')?.touched"
      [mensage]="'Nome de usuário obrigatório'"
    ></gfotos-message>
  </div>

  <div class="form-group mt-3">
    <input
      formControlName="password"
      name="password"
      type="password"
      class="form-control"
      placeholder="password"
    />
    <gfotos-message
      *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched"
      [mensage]="'Senha obrigatória'"
    ></gfotos-message>
  </div>

  <button
    type="submit"
    class="btn btn-primary mt-3 btn-block col-12"
    [disabled]="!loginForm.valid"
  >
    login
  </button>
</form>

<p class="ms-4">Not a user? <a>Register now</a></p>
